body {
    text-align: center;
    background-color: #b16d6d;
    font-family: 'Times New Roman', Times, serif;
}

#boton {
    background-color: #691c1c;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    width: 5%;
    height: 50px;
    font-size: 20px;
}

#reiniciar {
    width: 5%;
    height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #dcbd9a;
}

p {
    font-size: 140%;
    
}

#numeroEdad {
    width: 5%;
    height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #93665d;
}